# System files
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Environment files
.env
# Vite cache
.vite/
lab-06-react-catalog/.vite/

# Vite build
lab-06-react-catalog/dist/
